@model List<ET.Colecta>
@{
    ViewBag.Title = "ListaColecta";
}

<div class="row">
    @*@Html.Partial("_MenuPartial")*@
    <div class="col-xs-12">
        <h2>Colectas</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var c in Model)
                {
                    <tr>
                        <td>@c.EmpleadoColecta.Empleado.Nombre, @c.EmpleadoColecta.Empleado.Apellido</td>
                        <td>@c.Fecha.ToString("dd-MM-yyyy")</td>
                        @if (c.Habilitada)
                        {
                            <td style="color:limegreen;">Nueva</td>
                        }
                        else {
                            <td style="color:red;">Finalizada</td>
                        }
                        <td>
                            <a title="Ver" href="~/Colecta/Ver/@c.Id">Ingresar</a>
                            @if (Session["TipoUsuario"] != null && Session["TipoUsuario"].ToString().Equals("ADMINISTRADOR"))
                            {
                                if (c.Habilitada)
                                {
                                    <a title="Finalizar" onclick="return confirm('¿Esta seguro?');" href="~/Colecta/DeshabilitarColecta/@c.Id">Finalizar</a>
                                }
                                else {
                                    <a title="Habilitar" onclick="return confirm('¿Esta seguro?');" href="~/Colecta/HabilitarColecta/@c.Id">Hablitar</a>
                                }
                                <a title="Inhabilitar" onclick="return confirm('¿Esta seguro que desea ELIMINAR?');" href="~/Colecta/EliminarColecta/@c.Id">Eliminar</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Session["TipoUsuario"] != null && Session["TipoUsuario"].ToString().Equals("ADMINISTRADOR"))
        {
            <button type="button" class="btn btn-success" OnClick="location.href = 'AltaColecta'">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Colecta
            </button>
        }
    </div>
</div>




