@model List<ET.Planilla>
@{
    ViewBag.Title = "ListaPlanillas";
}

<div class="row">
    @*@Html.Partial("_MenuPartial")*@
    <div class="col-xs-12">
        <h2>Planillas</h2>
        @if (Session["TipoUsuario"] != null && Session["TipoUsuario"].ToString().Equals("ADMINISTRADOR"))
        {
            <h2>
                Planillas
                <button type="button" class="btn btn-success pull-right" OnClick="location.href = 'AltaPlanilla'">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Planilla
                </button>
            </h2>
        }

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var c in Model)
                {
                    <tr>
                        <td>@c.empleado.Nombre, @c.empleado.Apellido</td>
                        <td>@c.Fecha.ToString("dd-MM-yyyy")</td>
                        @if (c.Habilitada)
                        {
                            <td style="color:limegreen;">Nueva</td>
                        }
                        else {
                            <td style="color:red;">Finalizada</td>
                        }
                        <td>
                            <a title="Ver" href="~/Planilla/Ver/@c.Id">Ver</a>
                            @if (Session["TipoUsuario"] != null && Session["TipoUsuario"].ToString().Equals("ADMINISTRADOR"))
                            {
                                if (c.Habilitada)
                                {
                                    <a title="Finalizar" onclick="return confirm('¿Esta seguro?');" href="~/Planilla/DeshabilitarPlanilla/@c.Id">Finalizar</a>
                                }
                                else {
                                    <a title="Habilitar" onclick="return confirm('¿Esta seguro?');" href="~/Planilla/HabilitarPlanilla/@c.Id">Hablitar</a>
                                }
                                <a title="Inhabilitar" onclick="return confirm('¿Esta seguro que desea ELIMINAR?');" href="~/Planilla/Eliminar/@c.Id">Eliminar (Falta)</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


